USE [Studentdb]
GO
/****** Object:  StoredProcedure [dbo].[deleteStudentId]    Script Date: 22-03-2026 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[deleteStudentId](
@Id int
)
AS
Begin
delete student
where studentId = @Id
End