USE [Studentdb]
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 22-03-2026 12:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[InsertStudent]
(
    @Id INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @gender NVARCHAR(10),
    @Dateofbirth DATE,
    @age INT,
    @email NVARCHAR(100),
    @phone NVARCHAR(15),
    @Address NVARCHAR(200),
    @city NVARCHAR(50),
    @state NVARCHAR(50),
    @course NVARCHAR(50),
    @AdmiDate DATE
)
AS
BEGIN

    INSERT INTO Student
    (
        StudentID,
        FirstName,
        LastName,
        gender,
        Dateofbirth,
        age,
        email,
        phone,
        Address,
        city,
        State,
        Course,
        AdmiDate
    )
    VALUES
    (
        @Id,
        @FirstName,
        @LastName,
        @gender,
        @Dateofbirth,
        @age,
        @email,
        @phone,
        @Address,
        @city,
        @state,
        @course,
        @AdmiDate
    );

END