USE [Studentdb]
GO
/****** Object:  StoredProcedure [dbo].[procGetAllStudent]    Script Date: 22-03-2026 12:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--procGetAllStudent
ALTER PROCEDURE [dbo].[procGetAllStudent]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select	StudentID, FirstName, LastName, Gender, DateOfBirth, Age, 
			Email, Phone, Address, City, State, Course, AdmiDate 
	From	Student
END
