USE [Studentdb]
GO
/****** Object:  StoredProcedure [dbo].[Studentupdate]    Script Date: 22-03-2026 12:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[Studentupdate](
    @ID int ,
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @Gender VARCHAR(10),
    @DateOfBirth DATE,
    @Age INT,
    @Email VARCHAR(100),
    @Phone VARCHAR(15),
    @Address VARCHAR(200),
    @City VARCHAR(50),
    @State VARCHAR(50),
    @Course VARCHAR(50),
    @AdmiDate DATE
)
AS
BEGIN
    UPDATE student
    SET firstname = @FirstName,
        lastname = @LastName,
        gender = @Gender,
        dateofbirth = @DateOfBirth,
        age = @Age,
        email = @Email,
        phone = @Phone,
        address = @Address,
        city = @City,
        state = @State,
        course = @Course,
        admidate = @AdmiDate
    WHERE studentid = @ID
END
--EXEC updateStudentAge 3,'Ankita','Gupta','Female','2004-04-07',21,'ank@122gmail.com','1234454567','sec-23','Noida','UP','MA','2024-06-05'

select *from student